@font-face {
    font-family: 'Patron';
    src: url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Regular.eot");
    src: url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Regular.eot?#iefix") format("embedded-opentype"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Regular.woff2") format("woff2"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Regular.woff") format("woff"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Regular.ttf") format("truetype"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Regular.svg#Patron-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Patron';
    src: url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Black.eot");
    src: url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Black.eot?#iefix") format("embedded-opentype"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Black.woff2") format("woff2"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Black.woff") format("woff"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Black.ttf") format("truetype"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Black.svg#Patron-Black") format("svg");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Patron';
    src: url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Bold.eot");
    src: url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Bold.eot?#iefix") format("embedded-opentype"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Bold.woff2") format("woff2"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Bold.woff") format("woff"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Bold.ttf") format("truetype"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/Patron-Bold.svg#Patron-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Publico Text';
    src: url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoText-Roman.eot");
    src: url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoText-Roman.eot?#iefix") format("embedded-opentype"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoText-Roman.woff2") format("woff2"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoText-Roman.woff") format("woff"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoText-Roman.ttf") format("truetype"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoText-Roman.svg#PublicoText-Roman") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Publico Headline';
    src: url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoHeadline-Bold.eot");
    src: url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoHeadline-Bold.eot?#iefix") format("embedded-opentype"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoHeadline-Bold.woff2") format("woff2"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoHeadline-Bold.woff") format("woff"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoHeadline-Bold.ttf") format("truetype"), url("https://aplusfcu.org/wp-content/themes/aplusfcu/fonts/PublicoHeadline-Bold.svg#PublicoHeadline-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
    max-width: 100%;
}

*:last-child {
    margin-bottom: 0;
}

html {
    min-height: 100vh;
    --clr-primary: #00833e;
    --clr-primary-solid: #00833e;
    --clr-secondary: #f0681a;
}

body {
    margin: 0;
    padding: 0;
    font-family: "patron", sans-serif;
    background-color: #f7f5f5;
    color: #585854;
    min-height: 100%;
}

header {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#custom_header {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
    padding-left: 10px;
    padding-block: 5px;
    font-family: "patron", sans-serif;
    color: #585854;
}

#custom_header_link {
    display: inline-block;
    text-decoration: none;
}

#custom_header img {
    height: 60px;
}

#custom_header > h1 {
    font-size: 45px;
    color: #585854;
}

#cod-frame {
    flex-shrink: 0;
    width: 40%;
    max-width: 600px;
    min-width: 250px;
    height: 80px;
    overflow: hidden;
    border: none;
}

#back-bar {
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(to left, #ff8800, var(--clr-primary-solid) 20%);
    height: 53px;
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    line-height: 1;
}

#back-bar img {
    width: 50px;
    height: 53px;
    padding: 10px;
}

#back-bar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'patron', sans-serif;
    padding-right: 30px;
    cursor: pointer;
}

#back-bar a:hover {
    text-decoration: none;
    background: rgba(0,0,0,0.1);
}

img#spider-web {
    width: 15%;
    position: absolute;
    top: 100%;
    right: 0;
    filter: 
        drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.05))
        drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.05));
    pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1;
}

h1, h2, h4 {
    font-family: 'Publico Headline', serif;
    font-weight: bold;
}

h3, h5, h6 {
    font-family: 'Patron', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 55px;
    line-height: 60px;
}

h2 {
    font-size: 45px;
    line-height: 50px;
}

h3 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

h4 {
    font-size: 30px;
    line-height: 36px;
}

h5 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 0px;
}

h6 {
    font-size: 18px;
    line-height: 26px;
}

p {
    font-family: 'Patron', sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 20px;
}

button, .button {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid var(--clr-primary-solid);
    font-size: 18px;
    font-weight: 700;
    background: var(--clr-primary, #00833e);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    /* transition: .3s ease-in; */
    cursor: pointer;
}

button:hover, .button:hover {
    background: white;
    color: #585854;
}

button.btn-secondary, .button.btn-secondary {
    border: 2px solid var(--clr-primary-solid);
    background: white;
    color: #585854;
}

button.btn-secondary:hover, .button.btn-secondary:hover {
    background: var(--clr-primary, #00833e);
    color: white;
}

.button.active {
    /* display: none; */
    background-color: rgba(214, 214, 214, 0.25);
    color: #585854;
    border-color: #f7f5f5;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.button.inactive {
    opacity: 0.3;
    pointer-events: none;
}

.intro {
    font-family: 'Patron', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}

main {
    width: 100%;
    padding-inline: 30px;
}

body {
    padding-top: 133px;
}

main section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#page-title {
    margin: 50px auto;
}

#contest-entries {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.contest-entry {
    border-radius: 4px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    display: grid;
    grid-template-rows: auto 1fr;
    color: #585854;
}

.entry-photo {
    border-radius: 4px 4px 0 0;
    width: 100%;
    aspect-ratio: 5 / 4.5;
    background-color: black;
    position: relative;
}

.entry-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.entry-photo span.zoom-icon {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../images/icon-zoom_in.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    position: absolute;
    z-index: 100;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0;
    transition: .2s ease-out;
}

.entry-photo:hover span.zoom-icon {
    opacity: 0.5;
}

.entry-photo span.zoom-icon:hover {
    opacity: 1;
}

.entry-details {
    position: relative;
    padding: 20px;
    background-color: white;
    border-radius: 0 0 4px 4px;
    border-top: 5px solid var(--clr-primary-solid);
    margin: 0;
}

.entry-details p {
    font-style: italic;
    line-height: 1.3;
    margin-bottom: 5px;
}

.entry-details aside {
    position: absolute;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    padding: 3px 6px 3px 4px;
    text-align: center;
    bottom: 4px;
    right: 4px;
    font-size: 12px;
    color: #a0a0a0;
    font-style: italic;
    line-height: 1;
    opacity: 0;
    cursor: default;
    transition: .2s ease-out .5s;
}

.entry-details aside:hover {
    opacity: 1;
    transition: .2s ease-out;
}

#contest-winners {
    display: none;
    position: relative;
    padding: 50px 50px 60px;
    max-width: 1300px;
    border-bottom: 5px solid #00833e;
    margin-bottom: 60px;
}

#contest-winners::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: #00833e;
    border-radius: 4px;
    width: 100%;
    max-width: auto !important;
    height: 210px;
}

#contest-winners h3 {
    color: #fff;
    margin-bottom: 20px;
}

#contest-winners > h5 {
    color: #ffcf41;
}

#winner-entries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

#winner-entries .contest-entry {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.entry-badge {
    font-size: 13px;
    display: inline-block;
    line-height: 1;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    padding: 4px 16px;
    margin: -4px 0px 8px -4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: black;
}

.entry-badge.gold {
    background: #e3a812;
    background: -webkit-linear-gradient(to right, #d19e1d, #ffd86e, #e3a812);
    background: linear-gradient(120deg, #d19e1d, #ffd86e, #e3a812);
    border-color: transparent;
}

.entry-badge.silver {
    background: #c0c0c0;
    background: -webkit-linear-gradient(120deg,#c0c0c0,#a8a9ad,#e3e3e3,#b4b5b8);
    background: linear-gradient(120deg,#c0c0c0,#a8a9ad,#e3e3e3,#b4b5b8);
    border-color: transparent;
}

.entry-badge.bronze {
    background: #80450a;
    background: -webkit-linear-gradient(to right, #80450a, #e67331, #80450a);
    background: linear-gradient(120deg, #80450a, #e67331, #80450a);
    border-color: transparent;
}

#zoomed-photo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(7px);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#zoomed-photo img {
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    margin: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: default;
}

#close-zoom-icon {
    position: absolute;
    z-index: 2100;
    top: 2vw;
    right: 2vw;
    cursor: pointer;
    opacity: 1;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: var(--clr-primary, #00833e);
    display: block;
    width: 70px;
    height: 70px;
}

#close-zoom-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    transition: .2s ease-out;
}

#close-zoom-icon:hover::after {
    transform: rotateZ(90deg);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1400px;
    margin: 50px auto;
    padding: 20px 0;
    border-block: 1px solid #d6d6d6;
    padding-block: 20px;
    text-align: center;
}

nav > span:first-child {
    font-size: 14px;
    font-style: italic;
}

/* ** Loader Styles ** */

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Group Loader */

.group .loader {
    width: 48px;
    height: 24px;
    color: #FFF;
    background: white;
    border-radius: 50% 50% 0 0;
    position: absolute;
    display: block;
    margin: 30px auto 0;
    box-sizing: border-box;
    animation: animloader-group 4s linear infinite;
  }
  .group .loader::after {
    content: '';  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: currentColor;
    top: -34px;
    box-sizing: border-box;
    animation: animloader-group1 4s linear infinite;
  }
  
  @keyframes animloader-group {
    0% {
      box-shadow: 0 0 0 -2px , 0 0 0 -2px , 0 0 0 -5px , 0 0 0 -5px;
    }
    20% {
      box-shadow: 40px -1px 0 -2px , 0 0 0 -2px , 40px -1px 0 -5px , 0 0 0 -5px;
    }
    40% {
      box-shadow: 40px -1px 0 -2px , -40px -1px 0 -2px ,  40px -1px 0 -5px ,-40px -1px 0 -5px;
    }
    60% {
      box-shadow: 40px -1px 0 -2px , -40px -1px 0 -2px ,   23px -29px 0 -5px ,-40px -1px 0 -5px;
    }
    80%, 95% {
      box-shadow: 40px -1px 0 -2px , -40px -1px 0 -2px ,   23px -29px 0 -5px , -23px -29px 0 -5px;
    }
    100% {
      box-shadow: 40px -1px 0 -2px rgba(255, 255, 255, 0), -40px -1px 0 -2px rgba(255, 255, 255, 0), 23px -29px 0 -5px rgba(255, 255, 255, 0), -23px -29px 0 -5px rgba(255, 255, 255, 0);
    }
  }
  
  @keyframes animloader-group1 {
    0% {
      box-shadow: 0 0 0 -2px , 0 0 0 -2px , 0 0 0 -5px , 0 0 0 -5px;
    }
    20% {
      box-shadow: 40px 2px 0 -2px  , 0 0 0 -2px , 40px 2px 0 -5px , 0 0 0 -5px;
    }
    40% {
      box-shadow: 40px 2px 0 -2px  , -40px 2px 0 -2px , 40px 2px 0 -5px , -40px 2px 0 -5px;
    }
    60% {
      box-shadow: 40px 2px 0 -2px  , -40px 2px 0 -2px , 23px -23px 0 -5px , -40px 2px 0 -5px;
    }
    80%, 95% {
      box-shadow: 40px 2px 0 -2px  , -40px 2px 0 -2px , 23px -23px 0 -5px , -23px -23px 0 -5px;
    }
    100% {
      box-shadow: 40px 2px 0 -2px rgba(255, 255, 255, 0), -40px 2px 0 -2px rgba(255, 255, 255, 0), 23px -23px 0 -5px rgba(255, 255, 255, 0), -23px -23px 0 -5px rgba(255, 255, 255, 0);
    }
  }


  /* Individual Loader */

  .individual .loader {
    width: 84px;
    height: 84px;
    position: absolute;
    overflow: hidden;
  }
  .individual .loader:before , .individual .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width:64px;
    height: 64px;
    border-radius: 50%;
    background:#FFF;
    transform: translate(-50% , 100%)  scale(0);
    animation: push 2s infinite ease-in;
  }
  .individual .loader:after {
  animation-delay: 1s;
  }
  @keyframes push {
      0% {
        transform: translate(-50% , 100%)  scale(1);
      }
      15% , 25%{
        transform: translate(-50% , 50%)  scale(1);
      }
    50% , 75% {
        transform: translate(-50%, -30%) scale(0.5);
      }
    80%,  100% {
        transform: translate(-50%, -50%) scale(0);
      }
  }

  /* Pumpkin Loader */

  .pumpkin .loader {
    position: absolute;
    width: 108px;
    display: flex;
    justify-content: space-between;
  }
  .pumpkin .loader::after , .pumpkin .loader::before  {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    background-image:  radial-gradient(circle 14px, #0d161b 100%, transparent 0);
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: eyeMove 10s infinite , blink 10s infinite;
  }
  @keyframes eyeMove {
    0%  , 10% {     background-position: 0px 0px}
    13%  , 40% {     background-position: -15px 0px}
    43%  , 70% {     background-position: 15px 0px}
    73%  , 90% {     background-position: 0px 15px}
    93%  , 100% {     background-position: 0px 0px}
  }
  @keyframes blink {
    0%  , 10% , 12% , 20%, 22%, 40%, 42% , 60%, 62%,  70%, 72% , 90%, 92%, 98% , 100%
    { height: 48px}
    11% , 21% ,41% , 61% , 71% , 91% , 99%
    { height: 18px}
  }

  .bugButton {
    --before-width: 262.61px;
    position: absolute;
    background: white;
    color: #fff;
    border-radius: 100vw;
    width: 70px;
    height: 25px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    border-color: #ea772b;
    cursor: pointer;
    transition: .3s ease-in-out;
  }

  .bugButton:hover {
    color: white;
  }

  .button-label {
    right: calc(100% + 10px);
    position: absolute;
    width: max-content;
    max-width: 400px !important;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
  }

  .bugButton::after {
    content: "";
    display: block;
    position: relative;
    z-index: 1000;
    height: 20px;
    width: 20px;
    background: #ea772b;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    transition: .3s ease-in-out;
  }

  .bugButton.active::after {
    left: calc(100% - 23px);
    background: #00833e;
  }

  .bugButton:hover::after {
    left: 10px;
    background-color: #b27d13;
  }

  .bugButton.active:hover::after {
    left: calc(100% - 30px);
    background-color: #598028;
  }

  .bugButton::before {
    content: "";
    position: absolute;
    height: calc(100% + 16px);
    max-width: var(--before-width);
    width: var(--before-width);
    top: -8px;
    right: -10px;
  }

  .bug-fade-out {
    transition: opacity 1s ease 3s;
    opacity: 0;
  }